<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fileupload-success</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        *{
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         font-family: "Roboto", sans-serif;
        }
        .container{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 4px;
            width: 400px;
            padding: 10px;
            height: 280px; 
            display: grid;
            place-items: center;
            box-shadow: 0px 0px 20px 25px rgb(12 11 11 / 5%);
        }
        .fas{
            font-size: 77px;
            color: hsl(120, 82%, 58%);
        }
    
    </style>
</head>
<body>
    <div class="container">
        <div class="main"><i class="fas fa-check-circle"></i></div>
        <h2>File uploaded successfully!!</h2>
    </div>
</body>
</html>